{% extends 'base.html' %}

{% block title %}Home - URL Shortener{% endblock %}

{% block content %}



<form action="/" method="post">
    <label for="long_url">Enter URL changes made</label>
    <input type="text" name="long_url" id="long_url" required>

    <label for="short_url">Enter Custom Short URL</label>
    <input type="text" name="short_url" id="short_url" required>

    <button type="submit">Generate Short URL</button>
</form>

{% if par[0] %}
<div class="result">
    <p>Shortened URL:</p>
    {% if par[1] %}
    <div class="short-url">
        <a href="{{ request.url_root }}{{ par[1] }}" target="_blank">{{ request.url_root }}{{ par[1] }}</a>
        <button class="copy-btn" onclick="copyToClipboard('{{ request.url_root }}{{ par[1] }}')">Copy</button>
    </div>
    {% endif %}
</div>
{% endif %}

<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(() => {
            alert("Copied to clipboard: " + text);
        });
    }
</script>
{% endblock %}